.coin-card-body{
    background-color: rgb(147, 168, 238);
    min-height: 50vh;
    align-items: center;
    margin: 4rem;
    display: flex;
    justify-content: space-around;
    color: black;
    border-radius: 45px;
    box-shadow: 5px 10px #888888
}
.values{
    
}