.table-body{
    background-color: blue;
}
/* .ant-table css-dev-only-do-not-override-6j9yrn */
.ant-table{
   
}

.ant-table-thead{
    background-color: aqua !important;
    color: blue !important;
}
.ant-table-tbody{
    /* background-color: #463a6c !important; */
    /* color: antiquewhite; */
}

.ant-table-row:hover{
    /* background-color: #463a6c !important; */
    /* color: antiquewhite; */
}
.ant-table-row-level-0:hover{
    /* background-color: #463a6c !important; */
}
/* .ant-table-container{
    background-color: aqua !important;
} */
.ant-spin-container{
    
}

.ant-table-tbody{
    cursor: pointer !important;
}